<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h1>Create new item</h1>
<form method="post" action="">
<div class="fields">
    <label> Enter name</label>
    <input type="text" name="itemName" placeholder="Eg. D23 X Bumper Splitter"> </input>
</div>
<div class="fields">
    <label> Enter description</label>
    <input type="text" name="description" placeholder="Eg. It is available in best quality"> </input>
</div>
<div class="fields">
    <label> Enter price</label>
    <input type="text" name="price" placeholder="Eg. 30,000"> </input>
</div>
<div class="fields">
    <label> Enter Category</label>
    <input type="text" name="Category" placeholder="Eg. Bumper Splitter"> </input>
</div>

<button type="submit">submit</button>

</form>
</body>
</html>